.addresses {
  width: 95%;
  margin: 50px auto;
  gap: 20px;
  max-width: 1280px;
  display: flex;
}
.addresses__header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.addresses__container {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04),
    0 1px 3px 0 rgba(0, 0, 0, 0.05);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addresses__title {
  align-self: flex-start;
  justify-self: center;
}

.addresses__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}
.addresses__add {
  border: 3px dotted rgba(0, 0, 0, 0.3);
  height: 266px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  user-select: none;
}
.addresses__add-icon {
  width: 60px;
  filter: grayscale(100%);
}
.addresses__menu {
  width: 80px;
  font-size: 16px;
  padding: 5px 20px;
  background-color: #f7ca00;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: none;
  justify-self: start;
  height: max-content;
}
.addresses__menu:hover {
  opacity: 0.8;
}
@media screen and (max-width: 720px) {
  .addresses {
    width: 100%;
    margin: 0;
  }
  .addresses__header {
    grid-template-columns: 80px auto;
  }
  .addresses__menu {
    display: block;
  }
  .addresses__container {
    box-shadow: none;
  }
}

@media screen and (max-width: 520px) {
  .addresses__container {
    padding: 30px 10px;
  }
}
