.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 10;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup {
  width: 500px;
  padding: 30px;
  background-color: #fff;
}
