.navbar {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04),
    0 1px 3px 0 rgba(0, 0, 0, 0.05);
}
.navbar__header {
  padding: 15px;
}
.navbar__title {
  font-size: 24px;
  line-height: 1.5;
}
.navbar__subtitle {
  font-size: 12px;
  line-height: 1.5;
}
.navbar__list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
}
.navbar__item {
  padding: 15px;
  color: black;
}

.active > .navbar__item {
  border-left: 2px solid #f7ca00;
  background-color: rgba(247, 202, 0, 0.1);
}
