.item {
  display: grid;
  grid-template-columns: 150px auto 100px;

  grid-template-rows: 53px 53px 53px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  gap: 0 15px;
}

.item__image {
  grid-row: span 3;
  width: 100%;
  object-fit: contain;
  height: 100%;
  position: relative;
}

.item__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
  opacity: 0.04;
}
.item__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item__title {
  font-size: 18px;
  height: 2.4em;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  display: -webkit-box;
  align-self: self-end;
  height: max-content;
}
.item__delete {
  width: 100px;
  border-radius: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: self-start;
}
.item__delete:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.item__price {
  font-size: 18px;
  grid-row: 1 / span 3;
  grid-column: 3;
}
@media screen and (max-width: 800px) {
  .item__title {
    font-size: 16px;
  }
  .item__info {
    font-size: 14px;
  }
  .item__price {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .item {
    grid-template-columns: 130px auto auto;

    grid-template-rows: 43px 30px 30px 30px;
    padding: 10px 0;
    gap: 0 0;
  }
  .item__title {
    font-size: 14px;
    grid-column: span 2;
    max-width: 100%;
  }
  .item__quantity {
    font-size: 12px;
  }
  .item__price {
    font-size: 14px;
    grid-column: 2;
    grid-row: 3;
  }
  .item__delete {
    grid-column: span 2;
    font-size: 12px;
    grid-row: 4;
    grid-column: 2;
  }
  .item__image {
    grid-row: span 4;
    padding: 0 15px;
  }
}
