.footer {
  padding: 40px 10px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column {
  flex-basis: calc(25% - 20px);
  margin-bottom: 30px;
}

.footer__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer__description {
  color: #555;
}

.footer__contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact-list li {
  margin-bottom: 8px;
  color: #555;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-list li {
  display: inline-block;
  margin-right: 10px;
}

.footer__social-list li a {
  color: #555;
  text-decoration: none;
}

.footer__copy {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 1020px) {
  .footer__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 20px 0;
    cursor: pointer;
    user-select: none;
  }
  .footer__contact-list {
    display: none;
  }
  .footer__description {
    display: none;
  }
  .column_opened {
    display: block;
  }
}
